{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<h1>articles recent</h1>
	{% for article in articles %}
		<div class="card border-primary mb-3" style="max-width: 20rem;">
			<div class="card-header">{{article.title}}</div>
			<div class="card-body">
				<p class="card-text">{{article.content}}</p>
			</div>
			<span>crée à
				{{article.createAt}}
			</span>
		</div>
	{% endfor %}
{% endblock %}
